.social_media {
  display: flex;
  padding-left: 3px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 60px;
  height: 60px;
  font-size: 0;
  flex-direction: row;
  gap: 10px;
}

.instagramlogo,
.Whatsapplogo {
  width: 40px;
  height: 40px;
}

.logoloja {
  max-height: 150px;
  width: 150px;
}

.logolojafooter {
  max-width: 150px;
  height: 150px;
}

/* Corrigindo duplicação */
.instagramlogo {
  width: 38px;
  height: 38px;
}

.card_camisa {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  min-height: 560px;
}

.nome_camisa {
  font-weight: bold;
  margin-top: 5px;
  font-family: var(--font-heading);
  color: var(--color-dark);
}

.btn-instagram {
  padding: 10px 20px;
  margin-left: 10px;
  background-image: linear-gradient(to right, #04580a, #64965e);
  color: var(--color-white);
  text-decoration: none;
  border-radius: 6px;
  font-size: 15px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
  margin-top: auto;
  font-family: var(--font-heading);
}

.btn-instagram:hover {
  opacity: 0.85;
}

.legenda_camisa {
  text-align: justify;
  min-height: 60px;
  width: 300px;
}

.legenda_camisa h3 {
  font-size: 18px;
  margin: 0;
  color: var(--color-dark);
  font-family: var(--font-heading);
}

html {
  scroll-behavior: smooth;
}

.liga-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
